<h1>Log In</h1>
<% if flash[:alert] %>
  <div class="error_explanation">
    <li><%= flash[:alert] %></li>
  </div>
<% end %>

<%= form_for @user, url: '/login' do |form| %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Log In" %>
  </div>
<% end %>
<%= link_to 'Back', '/' %>