<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Score:</strong>
  <%= @user.score %>
</p>


<%= link_to 'Edit Account', edit_user_path(@user) %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', games_path %>
