 <% if space.revealed %>
  <td id="word-<%=space.word.id%>" class="cell cell-revealed cell-<%=space.assignment%>"><%= space.word.text %></td>
 <% else %>
    <td id="word-<%=space.word.id%>"  class="cell cell-unrevealed"><%= space.word.text %></td>
 <% end %>